
<div class="main">
<div class="beer-container">
    <div class="beers">
<img class="beerImg" src="{{this.image_url}}"></img>
<h3>{{this.name}}</h3>
<p>{{this.description}}</p>
  <p>{{this.tagline}}</p>
  </div>
  </div>
  </div>