<div>
  <div>
    <img class='startImg' src='./images/beer.png' alt='beer glas' />
    <div class='buttons'>
      <a class='button' href='#'>Check the Beers!</a>
      <a class='button' href='#'>Check a Random Beer!</a>
    </div>
  </div>
  <div class='footer'>Developed by Ironhack</div>

</div>