<div>
  <div>
    <img class='startImg' src='./images/beer.png' alt='beer glas' />
    <a href='#'>Check the Beers!</a>
    <a href='#'>Check a Random Beer!</a>
  </div>
  <div class='footer'>Developed by Ironhack</div>

</div>