
{{#each randomBeer}}
<div class="random-container">
{{> beerpartial this}}
  <h4>Food Pairing:</h4>
  {{#each this.food_pairing}}
  <ul>
      <li>{{this}}</li>
  </ul>
  {{/each}}
  <p class="brewer"><b>Brewers Tips:</b> {{this.brewers_tips}}</p>
  </div>
{{/each}}